* {
	font-family: Arial, Helvetica, sans-serif;
}

.test-div-text {
	color: #fff;
	background-color: red;
	font-size: 32px;
	text-align: center;
	font-weight: bold;
}

.test-p-text {
	color: #fff;
	background-color: green;
	font-size: 18px;
}

.test-button {
	font-size: 18px;
	background-color: orange;
}

.first-class {
	background-color: rgb(236, 123, 123);
	font-family: Verdana, sans-serif;
}

.second-class {
	font-size: 24px;
}

#first-id {
	color: #0000ff;
	font-size: 36px;
}

#second-id {
	background-color: rgb(100, 241, 87);
	font-weight: bold;
	font-size: 24px;
}

.first-button,
.second-button {
	font-size: 28px;
	font-family: 'Times New Roman', Times, "Halvetica", sans-serif;
}

.first-button {
	background-color: black;
	color: #fff;
}

.second-button {
	background-color: rgb(246, 250, 8);
}

.avatar.propotioned {
	width: 300px;
	height: auto;
}

.avatar.distorted {
	width: 200px;
	height: 400px;
}

.container .text {
	background-color: yellow;
	font-size: 20px;
	color: red;
}

.para,
.small-para {
	color: hsl(0, 100%, 50%);
}



.para {
	font-size: 22px;
}

.small-para {
	font-size: 14px;
}

.button.confirm {
	background: green;
	color: white;
	font-weight: bold;
}

.button {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	font-size: 20px;
}

.text .child {
	color: red;
	font-size: 14px;
}

.text {
	color: green;
	font-size: 22px;
}